/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 0); /* Fondo semi-transparente */
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
   
}

.navbar .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

/* Sección de fondo con imagen */
.hero-section {
    height: 100vh; /* Ocupa el 100% del viewport */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 50%, white), 
                url(fotos/foto_principal.jpeg);
    background-size: cover; /* La imagen cubrirá toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejorar la legibilidad */
    padding: 20px;
    border-radius: 10px;
}

/* Contenido adicional */
.additional-content {
    padding: 40px 20px;
    background-color: white;
    color: #333;
}

/* Footer */
footer {
    background-color: rgba(51, 51, 51, 0.8); /* Fondo semi-transparente */
    color: white;
    text-align: center;
    padding: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(51, 51, 51, 0.9); /* Fondo semi-transparente */
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .hamburger {
        display: flex;
    }
}