

body {
  font-family: 'Arial', sans-serif;
  background-image: url(https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #ffffffbe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
}

h1 {
  color: #333;
  text-align: center;
}

form {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

label {
  flex: 1;
}

input {
  flex: 2;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  flex: 1;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.completed {
  text-decoration: line-through;
  color: rgb(255, 0, 0);
}

