<div class="container-fluid p-0">
    <div id="carouselExample" class="carousel slide" style="height: 50vh;">
        <div class="carousel-inner h-100">

            <div class="carousel-item active h-100">
                <img src="http://peticiones.online/images/products/image07.png"
                    class="d-block w-100 h-100" style="object-fit: cover;" />
            </div>

            <div class="carousel-item h-100">
                <img src="http://peticiones.online/images/products/image09.png"
                    class="d-block w-100 h-100" style="object-fit: cover;" />
            </div>

            <div class="carousel-item h-100">
                <img src="http://peticiones.online/images/products/image11.png"
                    class="d-block w-100 h-100" style="object-fit: cover;" />
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>

    </div>

    <div class="container d-flex flex-column justify-content-center align-items-center mt-5">
        <h2>Bienvenido!</h2>
        <p>En esta pagina puedes añadir borrar y editar productos, atraves de formulario, botones creadas con Angular</p>
        <button class="btn btn-dark mt-1" [routerLink]="['/form']">Formulario</button>
    </div>
</div>
