<nav class="navbar navbar-expand-lg sticky-top shadow-lg py-1"
    style="background: linear-gradient(90deg, #db2033 0%, #d4747e 100%);">
    <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center" [routerLink]="['/landingPage']">
            <h1 class="text-white">NINJA</h1>
        </a>



        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">

                @if (isToken) {

                <li class="nav-item mx-1">
                    <a class="nav-link text-white nav-custom-link" routerLinkActive="active-link"
                        [routerLink]="['/home']">
                        <i class="bi bi-house-door me-1"></i> Dashboard
                    </a>
                </li>

                <li class="nav-item mx-1">
                    <a class="nav-link text-white nav-custom-link" routerLinkActive="active-link"
                        [routerLink]="['/home/nuevoNinja']">
                        <i class="bi bi-plus-circle me-1"></i> Nuevo Ninja
                    </a>
                </li>

                <li class="nav-item ms-lg-3">
                    <button class="btn btn-outline-light btn-sm fw-bold px-3 rounded-pill" (click)="logout()">
                        Cerrar sesión <i class="bi bi-box-arrow-right ms-1"></i>
                    </button>
                </li>

                } @else {
                <li class="nav-item">
                    <a class="btn btn-light btn-sm fw-bold px-4 rounded-pill shadow-sm text-danger"
                        [routerLink]="['/login']">
                        Login
                    </a>
                </li>
                }

            </ul>
        </div>
    </div>
</nav>