<header class="bg-dark text-white py-5 shadow-lg"
    style="background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)); background-size: cover; background-position: center;">

    <div class="container py-5 text-center">

        <h1 class="display-1 fw-bold text-uppercase tracking-wider">DC <span class="text-danger">Universe</span></h1>

        <p class="lead mb-4 fs-3">Explora la base de datos definitiva de los héroes y villanos más poderosos del universo.</p>

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a [routerLink]="['/login']" class="btn btn-danger btn-lg px-5 gap-3 fw-bold shadow">UNIRSE A LA LIGA</a>

        </div>

    </div>

</header>

<section class="py-5 bg-danger text-white">

    <div class="container">

        <div class="row text-center">

            <div class="col-md-4">
                <h2 class="fw-bold">10+</h2>
                <p>Héroes Registrados</p>
            </div>

            <div class="col-md-4">
                <h2 class="fw-bold">API REST</h2>
                <p>Spring Boot y JWT</p>
            </div>

            <div class="col-md-4">
                <h2 class="fw-bold">Angular</h2>
                <p>v17+</p>
            </div>

        </div>

    </div>

</section>

<section class="py-5 text-dark">

    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom border-danger">Caracteristicas</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

            <div class="col d-flex align-items-start">
                <div class="icon-square bg-danger text-white p-3 rounded-3 me-3">
                    <i class="bi bi-shield-shaded"></i>
                </div>
                <div>
                    <h3 class="fw-bold">Seguridad Total</h3>
                    <p>Autenticacion robusta con JWT y gestion de sesiones segura para proteger la identidad.</p>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <div class="icon-square bg-danger text-white p-3 rounded-3 me-3">
                    <i class="bi bi-pencil-square"></i>
                </div>
                <div>
                    <h3 class="fw-bold">Gestion CRUD</h3>
                    <p>Añade, edita y elimina personajes de la base de datos de DC en tiempo real con una interfaz
                        comoda.</p>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <div class="icon-square bg-danger text-white p-3 rounded-3 me-3">
                    <i class="bi bi-lightning-fill"></i>
                </div>
                <div>
                    <h3 class="fw-bold">Reactividad</h3>
                    <p>Construido con Angular, garantizando una experiencia de usuario rápida y moderna.</p>
                </div>
            </div>

        </div>
    </div>

</section>