body{
    font-family: Ebrima;
}

.btn-search{
    background-color: #fb7800;
    border: none;
}

.form-control{
    border-radius: 0;
}

.categories{
    background-color: #fb7800;
    padding: 2px;
    color: white;
}

.container-categorias{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-custom {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.btn-sm{
    border: 1px black solid;
}

.btn-sm:hover{
    background-color: #fb7800;
    color: white;
}

.badge{
    background-color: #fb7800;
}

