*{
    font-family: Arial, Helvetica, sans-serif;
}

.bg-rojo {
    color: red;
}

.footer-rojo {
    color: red;
}

.hero {
    background-color: #e0e0e0;
    padding: 2rem;
}

.card-img-placeholder {
    background-color: #e0e0e0;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}