<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiniTienda</title>
</head>

<body>
    <h1>Bienvenido a MiniTienda</h1>
    <p>Explora las siguientes rutas para ver los productos y la información de la tienda:</p>
    <ul>
        <li><a href="http://localhost:8080/hello">Saludo de la tienda</a></li>
        <li><a href="http://localhost:8080/description">Descripción de la tienda</a></li>
        <li><a href="http://localhost:8080/products">Lista de productos</a></li>
        <li><a href="http://localhost:8080/date">Fecha actual</a></li>
    </ul>
</body>

</html>