.error{
    color: red;
    font-size: 85%;
    margin: 0px 0px 0px 20px;
}

input.ng-invalid.ng-touched {
    border-bottom: 2px solid red;
}

input.ng-valid.ng-touched {
    border-bottom: 2px solid green;
}