<div class="card h-100 border shadow rounded">

    <img [src]="miProductos.image" />

    <div class="card-body">

        <h4 class="card-title">{{miProductos.title}}</h4>
        <h6>{{miProductos.subtitle}}</h6>
        <p class="card-text">{{miProductos.descripcion}}</p>

    </div>

    <div class="container pb-3">

        <div class="row d-flex  align-items-center">

            <div class="col d-flex justify-content-center">
                <a class="btn btn-primary" [routerLink]="[miProductos.id]">Ver detalles</a>
            </div>

            <div class="col d-flex justify-content-center">
                <button class="btn btn-danger" (click)="removeProducto(miProductos)">x</button>
            </div>

        </div>

    </div>



</div>