<div class="card h-100 border shadow rounded">

    <img class="rounded-1" [src]="miProductos.image" />

    <div class="card-body">

        <h4 class="card-title">{{miProductos.title}}</h4>
        <h6>{{miProductos.subtitle}}</h6>
        <p class="card-text">{{miProductos.descripcion}}</p>

    </div>

    <div class="container pb-3">

        <div class="row d-flex align-items-center space-beetwen">

            <div class="col d-flex ">
                <a class="btn btn-dark" [routerLink]="['/producto',miProductos.id]">Ver más</a>
            </div>

            <div class="col d-flex ">
                <button class="btn btn-danger" (click)="removeProducto(miProductos)">Borrar</button>
            </div>

            <div class="col d-flex ">
                <button class="btn btn-warning" [routerLink]="['/form']">Editar</button>
            </div>

        </div>

    </div>



</div>