<h1>Total</h1>

<div class="container-prod">
    <div class="col">
         @for (producto of productosCarrito; track $index) {
            {{ producto.title }} {{ producto.cantidad }} -> {{ producto.price * producto.cantidad }} {{ currency }}
         }
    </div>
</div>

<hr>

<div class="container">
    <div class="row">

        <div class="col">
            Total
        </div>

        <div class="col">
            {{ totalCarrito.toFixed(2) }} {{ currency }}
        </div>

    </div>
</div>