<h1>Total</h1>

<div class="container-prod">
    <div class="col">
         @for (producto of productosCarrito; track $index) {
            <div class="container">
                <div class="row py-4">

                    <div class="col border-end">{{ producto.title }}</div>
                    

                    <div class="col border-end">{{ producto.cantidad }}</div>

                    <div class="col">{{ producto.price * producto.cantidad }} {{ currency }}</div>

                </div>
            </div>
         }
    </div>
</div>

<hr>

<div class="container">
    <div class="row">

        <div class="col">
            Total
        </div>

        <div class="col">
            {{ totalCarrito.toFixed(2) }} {{ currency }}
        </div>

    </div>
</div>