body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1464983953574-0892a716854b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#contenedor {
    margin: 20px;
}

header {
    background-color: #3a536d7d;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.2);
}

.tituloDestacado {
    font-size: 50px;
    margin: 0.2em;
}

nav {
    margin-top: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: 0.5s ease;
}

nav a:hover {
    background-color: #fff;
    color: #000000;
}

main {
    background-color: #ffffff51;
    padding: 30px;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.cuerpo{
    background-color: #007bff00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_fotos {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "foto1 foto2"
      "foto3 foto4";
  }
  

  .foto1 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nombre1 nombre1 nombre1"
      "img1 img1 img1"
      "descripcion1 descripcion1 descripcion1";
    grid-area: foto1;
  }

  .nombre1 { grid-area: nombre1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;}
  
  .descripcion1 { grid-area: descripcion1;
    display: flex;
    align-items: center;
    justify-content: center;}
  
  .img1 { grid-area: img1; 
    justify-content: center;
    display: flex;
    width: 100%;
    height: 30em;
    }
  
  .foto2 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nombre2 nombre2 nombre2"
      "img2 img2 img2"
      "descripcion2 descripcion2 descripcion2";
    grid-area: foto2;
  }
  
  .nombre2 { grid-area: nombre2; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;}
  
  .descripcion2 { grid-area: descripcion2; 
    display: flex;
    align-items: center;
    justify-content: center;}
  
  .img2 { grid-area: img2; 
    justify-content: center;
    display: flex;
    width: 100%;
    height: 30em;}
  
  .foto3 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nombre3 nombre3 nombre3"
      "img3 img3 img3"
      "descripcion3 descripcion3 descripcion3";
    grid-area: foto3;
  }
  
  .nombre3 { grid-area: nombre3; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;}
  
  .descripcion3 { grid-area: descripcion3; 
    display: flex;
    align-items: center;
    justify-content: center;}
  
  .img3 { grid-area: img3; 
    justify-content: center;
    display: flex;
    width: 100%;
    height: 30em;}
  
  .foto4 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nombre4 nombre4 nombre4"
      "img4 img4 img4"
      "descripcion4 descripcion4 descripcion4";
    grid-area: foto4;
  }
  
  .nombre4 { grid-area: nombre4; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;}
  
  .descripcion4 { grid-area: descripcion4; 
    display: flex;
    align-items: center;
    justify-content: center;}
  
  .img4 { grid-area: img4; 
    justify-content: center;
    display: flex;
    width: 100%;
    height: 30em;}


#parrafoInteractivo {
    cursor: pointer;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.textoSecundario {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

#imagenInteractiva {
    width: 75%;
    max-height: 500px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#imagenInteractiva:hover {
    transform: scale(1.04);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #3a536d7d;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 1em;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #727272;
}
