<div class="container p-4">
    <h1 class="color-primary">{{miProducto.name}}</h1>
    <hr>

    <div class="container">

        <div class="row">

            <div class="col">
                <img class="border shadow rounded d-block w-100 h-100 " [src]="miProducto.image" />
            </div>

            <div class="col">
                <p>{{miProducto.description}}</p>
                <figcaption class="blockquote-footer mt-2">
                    Categoría: <cite title="Source Title">{{miProducto.category}}</cite>
                </figcaption>
                <h4>Precio: {{miProducto.price}} {{currency}}</h4>
                
            </div>

        </div>

    </div>

</div>