:root{
    --white-color: #ffffff;
    --gray-color: #dbdbdb;
    --black-color: #000000;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--gray-color);
    color: var(--black-color);
}
