/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Estilos generales */
body {
    scroll-behavior: smooth;
    background-color: #f9f5f0;
    color: #333;
}

/* Navegación */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #545454;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
}

nav ul li a:hover {
    background: #161616;
    border-radius: 5px;
}

/* Secciones */
section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

#inicio{
    background: url();
}

/* Productos - Grid */
.grid-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    margin-top: 20px;
}

.producto {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.producto img {
    width: 100%;
    border-radius: 10px;
}

.producto h3 {
    margin: 10px 0;
}

button {
    padding: 10px;
    background: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #4e4e4e;
}

.mensaje-bienvenida {
    background: #000000;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s;
}

.modo-oscuro {
    background-color: #212121;
    color: white;
}

nav.modo-oscuro {
    background: #787878;
}

button.modo-oscuro {
    background: #424242;
}

#contador {
    font-size: 24px;
    font-weight: bold;
    color: #d32f2f;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}


