<div class="container">

    <div class="row  align-items-center">

        <div class="col">
            <h1>{{ producto.title }}</h1>
            <p>{{ producto.sku }}</p>
        </div>

        <div class="col d-flex justify-content-around">
            <button class="btn btn-danger " (click)="restarCantidad()">-</button>
            <!-- (ngModelChange) cada vez que cambia el input se llama el metodo de sumar el total -->
            <input class="p-2" type="number" style="width: 50px;" [(ngModel)]="cantidad" (ngModelChange)="sumarTotalProd()" disabled>
            <button class="btn btn-success" (click)="sumarCantidad()">+</button>
        </div>

        <div class="col">
            <p>{{ producto.price }} {{ currency }}</p>
        </div>

        <div class="col">
            <p>{{ total }} {{ currency }}</p>
        </div>

    </div>

</div>
