.nombres{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 10px;
}


.prod-card{
    background-color: var(--white-color);
    border: solid 1px var(--black-color);
    border-radius: 5px;
    padding: 10px 10px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    
}



/* ------- */
.product-input{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
}
.boton-cant{
    border: none;
    width: 20px;
    height: 20px;
}
.input-cant{
    width: 20px;
    height: 20px;
}
/* ------- */




/* ------- */
.product-unidad{
    display: grid;
    justify-content: center;
    align-items: center;
}
/* ------- */






/* ------- */
.product-total{
    display: grid;
    justify-content: center;
    align-items: center;
}
/* ------- */